#
# application.yml — главный конфигурационный файл Spring Boot.

#Что нужно сделать:
#  - Указать настройки подключения к базе данных.
#  - Указать порт приложения.
#  - Настроить параметры безопасности и JWT.
#  - Включить Swagger UI.

spring:
  application:
    name: bank-cards

  datasource:
    url: jdbc:postgresql://localhost:5432/bank_cards
    username: bank_user
    password: bank_password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/migration/changelog-master.yaml

  security:
    oauth2:
      resourceserver:
        jwt:
          secret-key: ${JWT_SECRET:myVerySecretKeyForJWTGeneration123!}

server:
  port: 8080
#  servlet:
#    context-path: /api

logging:
  level:
    com.example.bankcards: DEBUG
    org.springframework.security: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha

jwt:
  secret: ${JWT_SECRET:myVerySecretKeyForJWTGeneration123!}
  expiration: 86400000 # 24 hours

# НАСТРОЙКИ ШИФРОВАНИЯ (ОТДЕЛЬНО!)
encryption:
  secret-key: my16bytekey12345 # 16 символов для AES-128